.section {
  padding: 60px;
  text-align: center;
}

.title {
  text-align: center;
}

.sort {
  margin-bottom: 20px;
}

.select {
  margin-top: 20px;
}

.text {
  margin-top: 20px;
}

.list {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(206, 206, 206, 0.95);
  border-radius: 50px;
  padding: 20px;
  cursor: pointer;
}

.film_title {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  height: 32px;
  font-size: medium;
}

.btn {
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: rgb(161, 6, 6);
  padding: 5px;
}
